html {
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
}

div#header {

}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 1px 2px 2px black;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

div#header #navigation img {
    height: 48px;
    padding-top: 5px;
}

div#footer {
	color: #555;
	font-size: 12px;
	padding: 12px 0px 12px 135px;
	text-align: left;
	margin-right: 30px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

pre {
    font-size: 14px;
    margin-left: 18px;
    overflow: auto;
    background-color: #ccc;
}

code {
    background-color: #ccc;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}
